/* Tablet */


@media screen and (max-width: 768px) {

    /* Cambio la width in max-width del container */
    .container {
        max-width: 100%;
    }
}

/* Phone */

@media screen and (max-width: 576px) {
    .container {
        max-width: 350px;
    }


    /* Metto gli elementi in verticale */
    .row {
        flex-wrap: wrap;
        gap: 70px;
    }

    /* Adatto i contenuti delle colonne */
    .col {
        flex-basis: 100%;
    }

    /* Cambio colore alla sezione "Why-us" */

    .why-us {
        padding: 3rem 0;
        margin-bottom: 0;
        background-color: #222222;
    }

    .steps {
        margin-bottom: 0;
    }

}