.container {
    width: 100%;
    max-width: 1140px;
}

/* Mobile */

@media screen and (max-width: 576px) {
    .container {
        max-width: 350px;
    }

    /* Metto gli elementi in verticale */
    .row {
        flex-wrap: wrap;
        gap: 70px;
    }

    /* Adatto i contenuti delle colonne */
    .col {
        flex-basis: 100%;
    }

    /* Cambio colore alla sezione "Why-us" */

    .why-us {
        padding: 3rem 0;
        background-color: #222222;
    }

    /* Tolgo il margine blu */

    section:not(:first-child) {
        margin-bottom: 0;
    }
}